doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Market 
                    li.main-header__item
                        a(href="admin/result") Result

        main
            if items.length > 0
                div.grid
                    each item in items
                        article.card.stuff-item
                            header.card__header
                                h1.stuff__title #{item.title}
                            div.card__img
                                img(src="https://images.unsplash.com/photo-1572721546624-05bf65ad7679?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FibGV8ZW58MHx8MHx8fDI%3D", alt="cable")
                            div.card__content
                                h2.stuff__price $11
                                p.stuff__desc
                            div.card__actions
                                button.btn Cart
            else
                h1 No Stock!