<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send Result</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/item.css">

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Market</a></li>
                <li class="main-header__item"><a class="active" href="/admin/send">Result</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="item-form" action="/admin/send" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title"></input>
            </div>
            <button type="submit">Go Result</button>
        </form>
    </main>
</body>
</html>