@charset "utf-8";

.item-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.item {
    width: 20rem;
    max-width: 95%;
}

.item__title {
    font-size: 1.2rem;
    text-align: center;
}

.item__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.item__desc {
    text-align: center;
}